/* #map {
height: 500px;
width: 800px
}
*/
html, body, #map-canvas {/* id selector -- grouping selectors*/
	height: 100%;
	margin: 0px;
	padding: 0px
}
.controls {/* class selector */
	margin-top: 16px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 400px;
}

#pac-input:focus {
	border-color: #4d90fe;
}

.pac-container {
	font-family: Roboto;
}

#type-selector {
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
}

#type-selector label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}
#title {
	text-indent: 60px;
	color: black;
	font-size: 30px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
#ft {
	width:120px;
	height:60px;
/*	margin-left: 10px;*/
/*	margin-right: 200px;*/
}
#set-range {
	display: inline-block;
	text-indent: 5px;
	color: black;
	font-size: 12px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
#range {
	display: inline-block;
	text-indent: 5px;
	color: black;

	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width:50px;
/*	height: 25px;*/
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	
	font-family: Roboto;
}

#range:focus {
	border-color: #4d90fe;
}